/* Basislayout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    list-style-type: none;
    background-color: #dddddd;
    margin: 5px;
}


nav li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: left;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
    text-decoration: none;
}

nav li a.active {
    background-color: skyblue;
}

#huis {
    padding-top: 10px;
}

nav ul.submenu {
    display: none;
}

nav li:hover ul.submenu {
    display: block;
}

nav ul.submenu li {


}

nav ul.submenu li a {


}