/* Basislayout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: white;
    text-decoration: none;
}

/* navigatiebalk */
nav {
    height: 1000px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    list-style-type: none;
    background-color: black;
}
ul#40kSub li a {
    font-size: 25px;
    display: block;
    color: white;
    text-align: left;
    padding: 2px;
    text-decoration: none;
} 

nav li a:hover {
    background-color: #aaaaaa;
    text-decoration: none;
}

nav li a.active {
    background-color: skyblue;
}

/*nav ul.submenu {
    display: none;
}

nav li:hover ul.submenu {
    display: block;
}*/

/*nav ul li ul.submenu2 {
    display: none;
}


nav .submenu li:hover ul.submenu2 {
    display: block;
} */

/*
nav ul.submenu li:hover ul.submenu2{
    background-color: #aaaaaa;
}*/
