/* Basislayout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: darkgrey;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}
header p {
    margin-left: 250px;
}
img.boekkaft {
    height: 200px;
    margin: 10px 0px;
    float: left;
}

h6 {
    font: 25px bold;

}
h2 {
    color: rgb(155, 6, 6);
}
/* specifieke stijlen 

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

 */

/* navigatiebalk */
nav {
    height: 1500px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    list-style-type: none;
    background-color: black;
    
}
nav ul li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
} 

nav li a:hover {
    background-color: #aaaaaa;
    text-decoration: none;
}

nav ul li.active {
    background-color: rgb(133, 28, 10);
}

#huis {
    font-size: 50px;
    margin-top: 0px;
}

/* layout voor een pagina */

article {
    position: absolute;
    left: 270px;
    font-size: 20px;
}
.serie {
    overflow: hidden;
    border: 3px solid black;
    margin-top: 20px;
    background-color: white;
}

.serie p {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
}

.boek {
    overflow: hidden;
    border: 3px solid black;
    margin-top: 20px;
    background-color: white;
}

.boek p {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
}